<div class="py-5">
   <div class="row">
     <div class="card my-5">
       <div class="container">
         <div class="card-header text-center">
           <h2>Educacion</h2>
         </div>
         <div class="row my-5" *ngFor="let educacion of educaciones">
           <div class="col-lg-2">
             <img class="img-fluid rounded-circle mb-4" [src]="educacion.imagen" alt="logo" />
           </div>
           <div class="col-lg-8">
             <h4>{{ educacion.titulo }}</h4>
             <p class="lead">{{ educacion.descripcion }}</p>
             <p class="mb-0">{{ educacion.contenido }}</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 