<div class="login-page bg-image-full">
   <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
      <div>
         <label for="email">Email: </label>
         <input type="email" formControlName="email" placeholder="example@mail.com">
         <div *ngIf="email?.invalid && email?.dirty" class="error">
            <ng-container *ngIf="email?.hasError('required')">El email es requerido.</ng-container>
            <ng-container *ngIf="email?.hasError('email') && !email?.hasError('required')">El email no es válido.</ng-container>
         </div>
      </div>
      <div>
         <label for="exampleInputPassword1" class="form-label">Contraseña: </label>
         <input type="password" formControlName="password" [class.border-danger]="passwordValid" placeholder="1A23BC4D">
         <div *ngIf="password?.invalid && password?.dirty && !email?.hasError('email')" class="error">
            <ng-container *ngIf="password?.hasError('required')">La contraseña es requerida.</ng-container>
            <ng-container *ngIf="password?.hasError('pattern') && !password?.hasError('required')">La contraseña no es válida.</ng-container>
         </div>
      </div>
      <div>
         <input type="checkbox" formControlName="showPassword">
         <label for="showPassword">Mostrar contraseña</label>
      </div>
      <div>
         <button type="submit">Iniciar Sesión</button>
         <p class="message">¿Estás registrado? <a routerLink="/registro">Crea una cuenta</a></p>
      </div>
   </form>
</div>
