<div class="login-page bg-image-full">
   <div class="form">
     <form class="register-form" [formGroup]="form" (ngSubmit)="onEnviar($event)">
       <div class="input-container">
         <input type="email" formControlName="email" placeholder="email address" required>
         <div *ngIf="email?.invalid && email?.dirty" class="error">
           <ng-container *ngIf="email?.hasError('required')">Email is required.</ng-container>
           <ng-container *ngIf="email?.hasError('email') && !email?.hasError('required')">Email format is invalid.</ng-container>
         </div>
         <div *ngIf="email?.valid && email?.dirty" class="valid-msg">Email is valid.</div>
       </div>
       <div class="input-container">
         <input type="email" formControlName="confirmEmail" placeholder="confirm email address" required>
         <div *ngIf="confirmEmail?.invalid && confirmEmail?.dirty" class="error">
           <ng-container *ngIf="confirmEmail?.hasError('required')">Confirm Email is required.</ng-container>
           <ng-container *ngIf="confirmEmail?.hasError('emailMismatch')">Emails do not match.</ng-container>
         </div>
         <div *ngIf="confirmEmail?.valid && confirmEmail?.dirty" class="valid-msg">Confirm Email is valid.</div>
       </div>
       <div class="input-container">
         <input type="password" formControlName="password" placeholder="password" required [type]="showPassword ? 'text' : 'password'">
         <div *ngIf="password?.invalid && password?.dirty" class="error">
           <ng-container *ngIf="password?.hasError('required')">Password is required.</ng-container>
           <ng-container *ngIf="password?.hasError('pattern') && !password?.hasError('required')">Password format is invalid.</ng-container>
         </div>
         <div *ngIf="password?.valid && password?.dirty" class="valid-msg">Password is valid.</div>
         <div class="show-password-checkbox">
           <input type="checkbox" [checked]="showPassword" (change)="togglePasswordVisibility('password')">
           <label>Show Password</label>
         </div>
       </div>
       <div class="input-container">
         <input type="password" formControlName="confirmPassword" placeholder="confirm password" required [type]="showConfirmPassword ? 'text' : 'password'">
         <div *ngIf="confirmPassword?.invalid && confirmPassword?.dirty" class="error">
           <ng-container *ngIf="confirmPassword?.hasError('required')">Confirm Password is required.</ng-container>
           <ng-container *ngIf="confirmPassword?.hasError('passwordMismatch')">Passwords do not match.</ng-container>
         </div>
         <div *ngIf="confirmPassword?.valid && confirmPassword?.dirty" class="valid-msg">Confirm Password is valid.</div>
         <div class="show-password-checkbox">
           <input type="checkbox" [checked]="showConfirmPassword" (change)="togglePasswordVisibility('confirmPassword')">
           <label>Show Confirm Password</label>
         </div>
       </div>
       <button type="submit" [disabled]="!form.valid">create</button>
       <p class="message">Already registered? <a href="login.html">Sign In</a></p>
     </form>
   </div>
 </div>
 