<mat-tab-group class="profile-container bg-image-full">
  <mat-tab label="Perfil">
    <ng-template matTabContent>
      <div class="about-me-container" *ngFor="let about of aboutMe">
        <div>
          <h3>About Me</h3>
        </div>
        <div class="horizontal">
          <div class="vertical margin-columna-i">
            <h6>Foto de perfil</h6>
            <div class="image-container">
              <img src="../../../assets/img/knifechickcover.jpg" alt="Imagen" class="circular-image">
            </div>
            <div class="mat-horizontal-layout">
              <button mat-raised-button class="mat-primary">Seleccionar</button>
              <button mat-raised-button class="mat-warn">Eliminar</button>
            </div>
          </div>

          <div class="mat-vertical-layout margin-columna-d">
            <div class="horizontal extremos">
              <p>Name y lastname: </p>
              <h4>{{ about.title }}</h4>
              <button mat-raised-button class="mat-primary">Actualizar</button>
            </div>
            <div class="mat-vertical-layout">
              <p>Descripcion:</p>
              <p class="text">{{ about.description }}</p>
              <div class="center">
                <button mat-raised-button class="mat-primary">Actualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Educación">
    <ng-template matTabContent>
      <div class="educations-container">
        <div>
          <h3>Educación</h3>
        </div>
        <div class="vertical center borde" *ngFor="let educacion of educaciones">
          <div class="education-card horizontal">
            <div class="vertical margin-columna-i">
              <h6>Foto de perfil</h6>
              <div class="image-container">
                <img src="../../../assets/img/knifechickcover.jpg" alt="Imagen" class="circular-image">
              </div>
            </div>
            <div>
              <h4>{{ educacion.titulo }}</h4>
              <p>{{ educacion.inicio }} - {{ educacion.fin }}</p>
              <p>{{ educacion.institucion }}</p>
              <p class="text">{{ educacion.contenido }}</p>
            </div>
          </div>
          <div class="mat-horizontal-layout left">
            <button mat-raised-button class="mat-primary">Actualizar</button>
            <button mat-raised-button class="mat-warn">Eliminar</button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Proyectos">
    <ng-template matTabContent>
      <h3>Proyectos</h3>
      <div class="horizontal">
        <div class="projects-container" *ngFor="let project of projects">
          <div class="project-card mat-elevation-z2">
            <h4>{{ project.title }}</h4>
            <p>{{ project.content }}</p>
            <span>{{ getFileName(project.buttonUrl) }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Experiencia">
    <ng-template matTabContent>
      <h3>Experiencia</h3>
      <div class="horizontal">
        <div class="experiences-container" *ngFor="let experiencia of experiencias">
          <div class="experience-card mat-elevation-z2">
            <h4>{{ experiencia.puesto }}</h4>
            <p>{{ experiencia.empresa }}</p>
            <p>{{ experiencia.inicio }} - {{ experiencia.fin }}</p>
            <p>{{ experiencia.descripcion }}</p>
            <span>{{ getFileName(experiencia.imagen) }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Habilidades">
    <ng-template matTabContent>
      <h3>Habilidades</h3>
      <div class="horizontal">
        <div class="skills-container" *ngFor="let skill of skills">
          <div class="skill-card mat-elevation-z2">
            <h4>{{ skill.titulo }}</h4>
            <p>{{ skill.color}}</p>
            <p>{{ skill.value}}</p>
            <span>{{ getFileName(skill.imagen) }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>